/* #475A8A primary*/
/* #90A4BE secondary*/
/* #333333 base */

body {
    background: #475A8A;
    color: #FFFFFF;
    font-family: 'Myriad Pro Light', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    min-width: 282px;
}

a { 
    text-decoration: none;
    color: #FFFFFF;
    margin: -11px -10px 0px;
    padding: 10px 10px;
    transition: background .3s;
    
}

button {
    background: #90A4BE;
    color: #FFFFFF;
    font-family: 'Myriad Pro Light', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border: none;
    margin: -11px -10px -11px;
    padding: 8px 10px;
    transition: background .3s;
}

a:hover, 
button:hover {
    background: #FFFFFF;
    color: #333333;
    font-weight: 800;
    transition: all .3s;
}

.section__header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__button {
    margin: 0 2vw;
    display: inline;
    background: #90A4BE;
    padding: 10px;
}

.button__home {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button__pair {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section__header_logo {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 20px;
    /* width: 100vw; */
}

img {
    height: 150px;
}

.section__login {
    position: absolute;
    margin: 0 2vw;
    transform: translate(70vw, 10px);
    background: #90A4BE;
    transition: all .3s;
}

.section__login input {
    display: block;
    width: 18vw;
    padding: 10px;
    margin: 15px;
    border: none;
}
