@media only screen and (min-width: 900px) {

    .section__login {
        transform: translate(73vw, 10px);
    }
}

@media only screen and (max-width: 500px) {

    .section__login {
        transform: translate(64vw, 10px);
    }
}

@media only screen and (max-width: 400px) {
    
    .section__header_nav {
        justify-content: start;
    }
}